[Unit]
Description=RETRO-ARMBIAN - Initial Boot Script

[Service]
Type=oneshot
ExecStart=/opt/retro-arm/rarm-boot-once.sh
ExecStartPost=/bin/systemctl disable rarm-boot-once.service
RemainAfterExit=no

[Install]
WantedBy=multi-user.target