[Unit]
Description=Retro OPi - Initial Boot Script

[Service]
Type=oneshot
ExecStart=/opt/retro-opi/ropi-boot-once.sh
ExecStartPost=/bin/systemctl disable ropi-boot-once.service
RemainAfterExit=no

[Install]
WantedBy=multi-user.target